.time-container {
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.time-row {
  width: 100%;
  display: flex;
}

.time-col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.leaf {
  width: 50%;
  height: 50%;
  margin-top: 100px;
}
